<p-card [header]="'labels.register_employee' | translate | uppercase">
  <div class="flex flex-column md:flex-row sm:flex-row">    
    <div class="align-items-left justify-content-top pr-2">
        <h6>{{'user_employee.detail_people' | translate | uppercase}}</h6>
        <div class="flex flex-column md:flex-row flex-row">
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="OwnerEmail" class="w-15rem">{{'user_employee.ci' | translate }}</label>
            <input pInputText type="text" class="w-full" />
            </div>
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 px-2">
            <label for="OwnerEmail" class="w-15rem">{{'user_employee.ciExpedit' | translate }}</label>
            <input pInputText type="text" class="w-full" />
            </div>
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
                <label for="ServiceName" class="w-15rem">{{'user_employee.ciComplement' | translate }}</label>
                <input pInputText type="text" class="w-full" />
            </div>
        </div>
        <div class="flex flex-column md:flex-row flex-row">
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 lg:w-full md:w-full">
            <label for="DirectPhone" class="w-15rem">{{'user_employee.name' | translate }}</label>
            <input pInputText type="text" class="w-full" />
            </div>
        </div>
        <div class="flex flex-column flex-row md:flex-row ">
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 pr-1">
            <label for="PublicPhone" class="w-15rem">{{'user_employee.app' | translate }}e</label>
            <input pInputText type="text" class="w-full" />
            </div>
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 pl-1">
                <label for="ComEmail" class="w-15rem">{{'user_employee.apm' | translate }}</label>
                <input pInputText type="text" class="w-full" />
            </div>
        </div>
        <div class="flex flex-column md:flex-row flex-row">
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="Web" class="w-15rem">{{'user_employee.sexo' | translate }}</label>
            <input pInputText type="text" class="w-full" />
            </div>
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 px-2">
                <label for="Web" class="w-15rem">{{'user_employee.fnaci' | translate }}</label>
                <input pInputText type="text" class="w-full" />
            </div>
        <!-- </div>
        <div class="flex flex-column md:flex-row flex-row"> -->
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
                <label for="Web" class="w-15rem">{{'user_employee.telefono' | translate }}</label>
                <input pInputText type="text" class="w-full" />
            </div>
        </div>
        <div class="flex flex-column flex-row md:flex-row">
            <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 w-full">
                <label for="Web" class="w-15rem">{{'user_employee.email' | translate }}</label>
                <input pInputText type="text" class="w-full" />
            </div>
        </div>
    </div>

    
    <div class="w-full md:w-6 flex flex-column align-items-left justify-content-top pl-2">
        <h6>{{'user_employee.detail_user' | translate | uppercase}}</h6>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="CompName" class="w-15rem">{{'user_employee.username' | translate }}</label>
            <input pInputText type="text" class="w-full" />
        </div>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="FirstName" class="w-15rem">{{'user_employee.password' | translate }}</label>
            <input pInputText type="password" class="w-full" />
        </div>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="FirstName" class="w-15rem">{{'user_employee.reppit_password' | translate }}</label>
            <input pInputText type="password" class="w-full" />
        </div>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="LastName" class="w-15rem">{{'user_employee.rol' | translate }}</label>
            <input pInputText type="text" class="w-full" />
        </div>
    </div>
    
    <div class="flex flex-column align-items-left justify-content-top px-2">
        <h6>{{'user_employee.detail_employee' | translate | uppercase}}</h6>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="WherehouseName" class="w-15rem">{{'user_employee.type' | translate }}</label>
            <input pInputText id="WherehouseName" type="text" class="w-full" />
        </div>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="Type" class="w-15rem">{{'user_employee.cargo' | translate }}</label>
            <input pInputText id="Type" type="text" class="w-full"/>
        </div>
        <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4">
            <label for="Country" class="w-15rem">{{'user_employee.salary' | translate }}Country</label>
            <input pInputText id="Country" type="text" class="w-full" />
        </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
        <p-button label="Save" class="w-full" styleClass="w-full" />
    </div>
  </ng-template>
</p-card>