<p-card [header]="'pages.branches' | translate | uppercase">
    <p-table
        #dt1
        [value]="stateValues().data"
        datakey="id"
        [paginator]="true"
        [rows]="stateValues().metadata.rows"
        [loading]="stateValues().loading"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} items"
        [rowsPerPageOptions]="tablecon"
        styleClass="p-datatable-sm p-datatable-gridlines p-0 m-0"
        [lazy]="true"
        [columns]="columnsSelectSignal()"
        [reorderableColumns]="true"
        (onColReorder)="onColumnReorder($event)"
        (onLazyLoad)="getDataPaged($event)"
        [totalRecords]="stateValues().metadata.total_records"
        responsiveLayout="scroll"
        [sortMode]="'multiple'"
        [customSort]="true"
        [scrollable]="true"
        scrollHeight="70vh"
        [paginatorPosition]="'bottom'"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap justify-content-end gap-1">
                <p-button 
                    [label]="'labels.clear' | translate" 
                    [outlined]="true" 
                    icon="pi pi-filter-slash"
                    styleClass="custom-hover"
                    />
                <p-button icon="pi pi-plus" severity="primary" [outlined]="true" class="pr-1" (click)="add()" />
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th rowspan="2"></th>
                @for (item of columns; track item.field) { 
                    @switch (item.field) { 
                        @case("id") {
                            <th style="min-width: 1rem" [pSortableColumn]="'id'" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.id" | translate | uppercase}}
                                    <p-sortIcon [field]="'id'"></p-sortIcon>
                                </div>
                            </th>
                        }
                        @case("nombre") {
                            <th style="min-width: 8rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.nombre" | translate | uppercase}}  
                                    <p-sortIcon [field]="item.field" />
                                </div>
                            </th>
                        }
                        @case("direccion") {
                            <th style="min-width: 20rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.direccion" | translate | uppercase}}  
                                    <p-sortIcon [field]="item.field" />
                                </div>
                            </th>
                        }
                        @case("almacen") {
                            <th style="min-width: 20rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.almacen" | translate | uppercase}}  
                                    <p-sortIcon [field]="item.field" />
                                </div>
                            </th>
                        }
                        @default {
                            <th [pSortableColumn]="item.field" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{item.field | uppercase}}
                                    <p-sortIcon [field]="item.field" />
                                </div>
                            </th>
                        }
                    }
                }
            </tr>
             <tr>
                @for (item of columns; track item) {
                    <th>
                        @switch (item.field) {
                            @case("nombre") {
                                <appcommon-filter-input [field]="item.field" type="number" />
                            }
                            @case("direccion") {
                                <appcommon-filter-input [field]="item.field" type="text" />
                            }
                            @case("capacidad") {
                                <appcommon-filter-input [field]="item.field" type="number" />
                            }
                            @case("matriz") {
                                <appcommon-filter-input [field]="item.field" type="number" />
                            }
                            @default {
                                <appcommon-filter-input [field]="item.field" type="text" /> 
                            } 
                        }
                    </th>
                } 
                @empty {
                    <th style="min-width: 8rem">cargando</th> 
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td></td>
                <td>{{row.id}}</td>
                <td>{{row.nombre}}</td>
                <td>{{row.direccion}}</td>
                <td>{{row.matriz}}</td>
                <td>{{row.capacidad}}</td>
            </tr>
        </ng-template>
        <ng-template #paginatorleft>
            <div class="flex align-items-center justify-content-center"> <!-- {{'labels.selected_columns' | translate}} : -->
                <p-multiSelect
                    inputId="float-label"
                    [options]="colsOptionsSelect"
                    [ngModel]="columnsSelectSignal()"
                    (onChange)="cargaColumnas($event)"
                    (onSelectAllChange)="selectAll($event)"
                    optionLabel="header"
                    selectedItemsLabel="{0} columns selected"
                    size="small"
                    placeholder="Choose Columns"
                    class="p-input-icon-left"/>
            </div>
        </ng-template>              <!-- <ng-template pTemplate="summary"> summary </ng-template> -->
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No order found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="8">Loading orders data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>

</p-card>