<p-card [header]="'pages.products' | translate | uppercase" [subheader]="'labels.admin_products' | translate">
    <p-table
        #dt1
        [value]="stateValues().data"
        dataKey="id"
        [paginator]="true"
        [loading]="stateValues().loading"
        [rows]="stateValues().data.length"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employees"
        [rowsPerPageOptions]="tablecon"
        styleClass="p-datatable-sm"
        [lazy]="true"
        stripedRows
        [columns]="columnsSelectSignal()"
        [reorderableColumns]="true"
        (onLazyLoad)="getDataPaged($event)"
        [totalRecords]="stateValues().total_records"
        responsiveLayout="scroll"
        [sortMode]="'multiple'"
        [customSort]="true"
        [scrollable]="true"
        scrollHeight="60vh"
        [paginatorPosition]="stateValues().data ? stateValues().data.length > 50 ? 'both' :'bottom' :'bottom'">
        <ng-template #caption>
            <div class="flex flex-wrap justify-content-end">
                <p-button [label]="'labels.clear' | translate" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)"/>
                <p-button icon="pi pi-plus" severity="primary" [outlined]="true" class="pr-1" (click)="add()" />
            </div>
        </ng-template>
        <ng-template #header let-columns>
            <tr>
                <th rowspan="2">
                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text pt-2"> </button>
                    <p-tableHeaderCheckbox class="pb-0 px-2" />
                </th>
                @for (item of columns; track item) { 
                    @switch (item.field) { 
                        @case("id") {
                            <th [pSortableColumn]="'id'" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.id" | translate | uppercase}}<p-sortIcon [field]="'id'"></p-sortIcon></div></th>
                        }
                        @case("nombre") {
                            <th style="min-width: 20rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.nombre" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("descripcion") {
                            <th style="min-width: 25rem" [pSortableColumn]="item.field" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.description" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("cantidadStock") {
                            <th style="min-width: 10rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.cantidadStock" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("fechaIngreso") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.fechaIngreso" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("unidadMedida") {
                        <th style="min-width: 15rem" pReorderableColumn>{{"labels.unidadMedida" | translate | uppercase}}</th>
                        }
                        @case("codigoProducto") {
                            <th style="min-width: 2rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.codigoProducto" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("state") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.state" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("empresa") {
                            <th style="min-width: 20rem" pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels.empresa" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                        @case("categoria") {
                            <th style="min-width: 15rem" pReorderableColumn>{{"labels.categoria" | translate | uppercase}}</th>
                        } @default {
                            <th pSortableColumn="{{item.field}}" pReorderableColumn><div class="flex justify-content-between align-items-left">{{"labels." + item.field | translate | uppercase}}<p-sortIcon [field]="item.field" /></div></th>
                        }
                    }
                }
            </tr>
            <tr>
                @for (item of columns; track item) {
                <th>
                    @switch (item.field) {
                        @case("id") {
                            <appcommon-filter-input [field]="item.field" type="number" />
                        }
                        @case("cantidadStock") {
                            <appcommon-filter-input [field]="item.field" type="number" />
                        }
                        @default {
                            <appcommon-filter-input [field]="item.field" type="text" class="w-full"/> 
                        }
                    }
                </th>
                } @empty {
                <th style="min-width: 12rem">cargando</th> }
            </tr>
        </ng-template>

        <ng-template #body let-rowData let-columns="columns" let-expanded="expanded">
            <tr [ngClass]="rowClass(rowData)">
                <td class="flex py-4">
                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text pt-5"> </button>
                    <p-tableCheckbox class="p-2" [value]="rowData"></p-tableCheckbox>
                </td>
                @for (item of columns; track item) {
                    @switch (item.field) { 
                        @case("id") { <td>{{ rowData[item.field] }}</td> } 
                        @case('nombre') { <td [style.backgroundColor]="rowData['code']">{{ rowData[item.field] }}</td> }
                        @case("descripcion") { <td>{{ rowData[item.field] }}</td> } 
                        @case('codigoProducto') { <td>{{ rowData[item.field] }}</td> } 
                        @case('cantidadStock') { <td>{{ rowData[item.field] }}</td> } 
                        @case('state') { <td>{{ rowData[item.field] }}</td> } 
                        @case('empresa') { <td>{{ rowData[item.field] }}</td> } 
                        @case('categoria') { <td>{{ rowData[item.field] }}</td> } 
                        @default { <td>{{ rowData[item.field] }}</td> } 
                    } }
            </tr>
        </ng-template>
    </p-table>
</p-card>