<div class="flex p-flex-wrap p-jc-start">

    <div class="card-xl-20">
        <p-card header="Empleados" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/empleados.png" alt="Empleados" class="card-img" />
            </ng-template>
            <p>Total empleados: {{ empleados.length }}</p>
            <button pButton type="button" label="Ver Empleados" icon="pi pi-users" (click)="verEmpleados()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Proveedores" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/proveedores.png" alt="Proveedores" class="card-img" />
            </ng-template>
            <p>Total proveedores: {{ proveedores.length }}</p>
            <button pButton type="button" label="Ver Proveedores" icon="pi pi-briefcase"
                (click)="verProveedores()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Clientes" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/clientes.png" alt="Clientes" class="card-img" />
            </ng-template>
            <p>Total clientes: {{ clientes.length }}</p>
            <button pButton type="button" label="Ver Clientes" icon="pi pi-user" (click)="verClientes()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Almacenes" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/almacenes.png" alt="Almacenes" class="card-img" />
            </ng-template>
            <p>Total almacenes: {{ almacenes.length }}</p>
            <button pButton type="button" label="Ver Almacenes" icon="pi pi-warehouse"
                (click)="verAlmacenes()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Productos" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/productos.png" alt="Productos" class="card-img" />
            </ng-template>
            <p>Total productos: {{ productos.length }}</p>
            <button pButton type="button" label="Ver Productos" icon="pi pi-box" (click)="verProductos()"></button>
        </p-card>
    </div>








    <div class="card-xl-20">
        <p-card header="Empleados" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/empleados.png" alt="Empleados" class="card-img" />
            </ng-template>
            <p>Total empleados: {{ empleados.length }}</p>
            <button pButton type="button" label="Ver Empleados" icon="pi pi-users" (click)="verEmpleados()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Proveedores" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/proveedores.png" alt="Proveedores" class="card-img" />
            </ng-template>
            <p>Total proveedores: {{ proveedores.length }}</p>
            <button pButton type="button" label="Ver Proveedores" icon="pi pi-briefcase"
                (click)="verProveedores()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Clientes" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/clientes.png" alt="Clientes" class="card-img" />
            </ng-template>
            <p>Total clientes: {{ clientes.length }}</p>
            <button pButton type="button" label="Ver Clientes" icon="pi pi-user" (click)="verClientes()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Almacenes" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/almacenes.png" alt="Almacenes" class="card-img" />
            </ng-template>
            <p>Total almacenes: {{ almacenes.length }}</p>
            <button pButton type="button" label="Ver Almacenes" icon="pi pi-warehouse"
                (click)="verAlmacenes()"></button>
        </p-card>
    </div>

    <div class="card-xl-20">
        <p-card header="Productos" class="card-hover">
            <ng-template pTemplate="header">
                <img src="assets/productos.png" alt="Productos" class="card-img" />
            </ng-template>
            <p>Total productos: {{ productos.length }}</p>
            <button pButton type="button" label="Ver Productos" icon="pi pi-box" (click)="verProductos()"></button>
        </p-card>
    </div>
</div>