<p-toast/>
<p-confirmDialog />
<form [formGroup]="purchaseForm">
    <p-card [header]="'labels.register_purchases' | translate | uppercase">
        <div class="flex md:flex-row sm:flex-row">

            <div class="col-12 md:col-7 p-2 w-full">
                <h6>{{'labels.detail_people' | translate | uppercase}}</h6>
                <div class="flex md:flex-row flex-row w-full p-2">
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 p-2 lg:w-full md:w-full w-full">
                        <label class="w-25rem">{{'purcharses.fechaCompra' | translate }}</label>
                        <p-datepicker [formControlName]="'fechaCompra'" dateFormat="dd/mm/yy" type="text" styleClass="w-full" class="w-full" /> @if (purchaseForm.get('fechaCompra')?.invalid && purchaseForm.get('fechaCompra')?.touched) {
                        <small style="color: red;">Error en el Fecha de Compra.</small> }
                    </div>
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 p-2 lg:w-full md:w-full w-full">
                        <label class="w-25rem">{{'purcharses.precio_total' | translate }}</label>
                        <input pInputText type="text" class="w-full" [value]="total" [disabled]="true" />
                    </div>
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 p-2 lg:w-full md:w-full w-full">
                        <label class="w-25rem">{{'purcharses.proveedor' | translate }}</label>
                        <p-select [formControlName]="'id_proveedor'" [options]="proveedores" optionLabel="empresa" (onChange)="changeProvider()" class="w-full lg:w-full" styleClass="w-full" placeholder="Select un proveedor" [style]="{width: '100%'}" /> @if (purchaseForm.get('id_proveedor')?.invalid && purchaseForm.get('id_proveedor')?.touched) {
                        <small style="color: red;">Error en el Proveedor Seleccionado.</small> }
                    </div>
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 p-2 lg:w-full md:w-full w-full">
                        <label class="w-25rem">{{'purcharses.producto' | translate }}</label>
                        <p-select [formControlName]="'id_producto'" [options]="productos" optionLabel="display" placeholder="Seleccionar Producto" class="w-full lg:w-full" styleClass="w-full" /> @if (purchaseForm.get('id_producto')?.invalid && purchaseForm.get('id_producto')?.touched) {
                        <small style="color: red;">Error en el Producto seleccionado.</small> }
                    </div>
                </div>
                <div class="flex md:flex-row flex-row w-full">
                    <div class="flex flex-wrap justify-content-left align-items-center pb-4 lg:w-full md:w-full w-full p-2">
                        <label class="w-25rem">{{'purcharses.cantidad' | translate }}</label>
                        <input pInputText [formControlName]="'cantidad'" type="number" class="w-full" (change)="changeTotalCompra()" /> @if (purchaseForm.get('cantidad')?.invalid && purchaseForm.get('cantidad')?.touched) {
                        <small style="color: red;">Error en el Fecha de Compra.</small> }
                    </div>
                <!-- </div>
                <div class="flex md:flex-row flex-row w-full"> -->
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 w-full p-2">
                        <label class="w-25rem">{{'purcharses.precioCompra' | translate }}</label>
                        <input pInputText [formControlName]="'precioUnitario'" type="number" class="w-full" (change)="changeTotalCompra()" /> @if (purchaseForm.get('precioUnitario')?.invalid && purchaseForm.get('precioUnitario')?.touched) {
                        <small style="color: red;">Error en el Precio de Compra.</small> }
                    </div>
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 w-full p-2">
                        <label class="w-25rem">{{'purcharses.precioVenta' | translate }}</label>
                        <input pInputText [formControlName]="'precioVenta'" type="number" class="w-full" /> @if (purchaseForm.get('precioVenta')?.invalid && purchaseForm.get('precioVenta')?.touched) {
                        <small style="color: red;">Error en el Precio de Venta.</small> }
                    </div>
                <!-- </div>
                <div class="flex md:flex-row flex-row w-full"> -->
                    <div class="flex flex-wrap justify-content-left align-items-center gap-2 pb-4 w-full p-2">
                        <label class="w-25rem">{{'purcharses.totalCompra' | translate }}</label>
                        <input pInputText value="{{totalCompra}}" type="number" class="w-full" disabled/> @if (purchaseForm.get('totaCompra')?.invalid && purchaseForm.get('totaCompra')?.touched) {
                        <small style="color: red;">Error en el Precio de Venta.</small> }
                    </div>
                </div>
            </div>
        </div>















        
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Cancel" severity="danger" class="w-full" styleClass="w-full" [routerLink]="['/inventory/products']" />
                <p-button label="Limpiar" severity="secondary" class="w-full" styleClass="w-full" (click)="cleanAll()" />
                <p-button label="Save" class="w-full" styleClass="w-full" (click)="submitPurchase()" [disabled]="!purchaseForm.valid" />
            </div>
        </ng-template>
    </p-card>
</form>