<p-card [header]="title | translate | uppercase" [subheader]="subtitle | translate">
    <p-table #dt1
        [value]="stateValues().data"
        datakey="id"
        [paginator]="true"
        [loading]="stateValues().loading"
        [rows]="stateValues().data.length"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employees"
        [rowsPerPageOptions]="tablecon"
        styleClass="p-datatable-sm"
        [lazy]="true"
        [columns]="columnsSelectSignal()"
        [reorderableColumns]="true"
        (onLazyLoad)="getDataPaged($event)"
        [totalRecords]="stateValues().total_records"
        responsiveLayout="scroll"
        [sortMode]="'multiple'"
        [customSort]="true"
        [scrollable]="true"
        scrollHeight="53vh"
        [paginatorPosition]="stateValues().data ? stateValues().data.length > 50 ? 'both' :'bottom' :'bottom'">
        
        <ng-template #caption>
            <div class="flex justify-content-end">
                <p-iconfield iconPosition="left">
                    <p-inputgroup>
                        <p-button [label]="'labels.clear' | translate" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)"/>
                        <p-button icon="pi pi-user-plus" severity="primary" [outlined]="true" (click)="add()" />
                        <p-button pRipple icon="pi pi-ellipsis-v" severity="secondary" [outlined]="true"/>
                    </p-inputgroup>
                </p-iconfield>
            </div>
        </ng-template>
    
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th rowspan="2">
                    <p-tableHeaderCheckbox class="pb-0 px-2" />
                </th>
                @for (item of columns; track item) { 
                    @switch (item.field) { 
                        @case("id") {
                            <th style="min-width: 1rem" class="flex justify-content-between" [pSortableColumn]="'id'" pReorderableColumn>
                                <div class="flex justify-between w-full">
                                    <div class="flex items-center">
                                        <div>{{"labels." + item.field | translate | uppercase }}</div>
                                    </div>
                                    <div class="flex items-center">
                                        <p-sortIcon [field]="item.field"/>
                                    </div>
                                </div>
                            </th>
                        }
                        @case("ci") {
                            <th style="min-width: 12rem" [pSortableColumn]="item.field" pReorderableColumn>
                                <div class="flex justify-between w-full">
                                    <div class="flex items-center">
                                        <div>{{"labels." + item.field | translate | uppercase }}</div>
                                    </div>
                                    <div class="flex items-center">
                                        <p-sortIcon [field]="item.field"/>
                                    </div>
                                </div>
                            </th>
                        }
                        @case("nombre") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.name" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("app") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.app" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("apm") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.apm" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("telefono") {
                            <th style="min-width: 15rem" pReorderableColumn>{{"labels.telefono" | translate | uppercase}}</th>
                        }
                        @case("sexo") {
                            <th style="min-width: 2rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.sexo" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("fnaci") {
                            <th style="min-width: 15rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.fnaci" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("email") {
                            <th style="min-width: 20rem" pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.email" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @case("telefono") {
                            <th style="min-width: 15rem" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels.telefono" | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                        @default {
                            <th pSortableColumn="{{item.field}}" pReorderableColumn>
                                <div class="flex justify-content-between align-items-left">{{"labels." + item.field | translate | uppercase}}<p-sortIcon [field]="item.field" /></div>
                            </th>
                        }
                    }
                }
            </tr>
            <tr>
                @for (item of columns; track item) {
                <th style="min-width: 11rem">
                    @switch (item.field) {
                        @case("bin_qty_max") { <appcommon-filter-input field="bin_qty_max" /> } 
                        @case("bin_qty_min") { <appcommon-filter-input field="bin_qty_min" /> }
                        @case("image") {} 
                        @default { <appcommon-filter-input [field]="item.field" type="text" /> } 
                    }
                </th>
                } @empty {
                <th style="min-width: 12rem">cargando</th> }
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
            <tr>
                <td class="flex py-4">
                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"> </button>
                    <p-tableCheckbox class="p-2" [value]="rowData"></p-tableCheckbox>
                </td>
                @for (item of columns; track item) {
                    <td>
                    @switch (item.field) { 
                        @case("id") { {{ rowData['id'] }} } 
                        @case("ci") { {{ rowData['ci'] }} {{ rowData['ciExpedit'] }} } 
                        @case('nombre') { {{ rowData[item.field] }} } 
                        @case('app') { {{ rowData[item.field] }} } 
                        @case('apm') { {{ rowData[item.field] }} }
                        @case('sexo') { <i class="pi {{ (rowData[item.field] === 'V') ? 'pi-mars' : 'pi-venus' }}" [ngStyle]="{ color: rowData[item.field] === 'V' ? 'slate-500' : 'red-500', 'font-weight': 'bold', 'font-size': '1.25rem', 'align-items': 'center', 'justify-content': 'center' }"></i> {{ getSexo(rowData[item.field]) }} } 
                        @case('fnaci') { {{ rowData[item.field] }}
                        
                    <!-- @if (rowData[item.field] !== '') { <div style="white-space: pre-wrap;">{{ rowData[item.field] | dateTimeSeparate}}</div> } -->
                    } @default { {{ rowData[item.field] }} } }
                    </td>
                }
            </tr>
        </ng-template>
        <ng-template #paginatorleft>
            <div class="flex align-items-center justify-content-center"> <!-- {{'labels.selected_columns' | translate}} : -->
                <p-multiSelect
                    inputId="float-label"
                    [options]="colsOptionsSelect"
                    [ngModel]="columnsSelectSignal()"
                    (onChange)="cargaColumnas($event)"
                    (onSelectAllChange)="selectAll($event)"
                    optionLabel="header"
                    selectedItemsLabel="{0} columns selected"
                    size="small"
                    placeholder="Choose Columns"
                    class="p-input-icon-left"/>
            </div>
        </ng-template>
        <!-- <ng-template pTemplate="summary"> summary </ng-template> -->
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No order found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading orders data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>