<div class="grid-container">
    @for (card of homeCards; track $index) {
        <div class="card animate-fade-in" [style.border-color]="card.color" [style.border-color]="card.color"
             [routerLink]="card.link" style="cursor:pointer;">
          <div style="text-align:center; margin-bottom:1rem;">
            <i [class]="card.icon" [style.color]="card.color" style="font-size:2.5rem;"></i>
          </div>
          <h3 style="text-align:center; font-weight:bold; margin-bottom:0.5rem;">{{ card.titulo }}</h3>
          <p style="text-align:center; font-size:0.875rem; color:#e0e7ff;">
            {{ card.descripcion }}
          </p>
          <div style="margin-top:1rem; display:flex; justify-content:center;">
            <button pButton type="button" [style.background]="card.color" style="color:#0f0c13; border: 3px; border-radius:9999px; padding:0.5rem 1rem;">
              {{ card.titulo.includes('Configuración') ? 'Configurar' : 'Ver ' + card.titulo }}
            </button>
          </div>
        </div>
    }
</div>