<p-menubar [model]="items()">
    <ng-template pTemplate="start">
        <!-- <img src="icons/logo-current.png"
            alt="logo"
            height="30"
            class="mr-2"/> -->
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" class="mr-2"/>
        <app-darkmode/>
        <p-button label="Logout" icon="pi pi-fw pi-power-off"/>
    </ng-template>
</p-menubar>



<!-- Sidebar -->
<p-sidebar 
    [modal]="true"
    [showCloseIcon]="true"
    [baseZIndex]="10000"

    [visible]="sidebarVisible()"
    [dismissible]="true"
    (onShow)="onShowSidebar($event)"
    (onHide)="onHiddenSidebar($event)"
    (visibleChange)="sidebarChange($event)"
    styleClass="p-sidebar-lg">
    
    <!-- Header del Sidebar -->
    <ng-template pTemplate="header">
            <p-avatar 
                image="https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-man-avatar-isolated-on-white-background-png-image_4891418.png" 
                shape="circle"
                size="large">
            </p-avatar>
            <div class="flex flex-column">
                <h3 class="m-0">John Doe</h3>
                <span class="text-sm text-500">Administrador</span>
            </div>
    </ng-template>
    <p-divider></p-divider>

    <!-- Contenido del Sidebar -->
    <ng-template pTemplate="content">
        <!-- <div class="sidebar-content"> -->
            <!-- Panel de Menú -->
            <p-panelMenu 
                [model]="menuItems()" 
                [multiple]="false">
            </p-panelMenu>
        <!-- </div> -->
    </ng-template>

    <!-- Footer del Sidebar -->
    <ng-template pTemplate="footer">
        <div class="flex flex-column gap-2 px-3">
            <p-divider></p-divider>
            <p-button 
                label="Cerrar Sesión" 
                icon="pi pi-power-off"
                severity="danger"
                [text]="true"
                (onClick)="onNavigate('/logout')">
            </p-button>
        </div>
    </ng-template>
</p-sidebar>