<p-card>
<!-- [header]="`${ title }` | translate" [subheader]="`Detalle No.: ${id}`"> -->
<div class="flex justify-content-between w-full">
    <div class="text-4xl w-full"><b>{{`${ title }` | translate | uppercase}} No {{id}}</b></div>
    <p-buttongroup>
        <!-- <p-button label="Save" icon="pi pi-check" /> -->
        <p-button title="Nueva Compra" icon="pi pi-plus"/>
        <p-button title="Imprimir Compra" icon="pi pi-print" />
        <p-button title="Imprimir Compra" icon="pi pi-arrow-down-left" (click)="redirectNew()" />
    </p-buttongroup>
</div>
    <div class="flex md:flex-row sm:flex-row">
        <div class="col-12 md:col-7 w-full">
            <div class="flex md:flex-row flex-row w-full">
                <div class="justify-content-left align-items-center gap-2 pb-2 lg:w-full md:w-full w-full">
                    <b>{{'labels.proveedor' | translate }}</b>
                    <div>{{ itemRegister().proveedor.empresa }}</div>
                </div>
                <div class="justify-content-left align-items-center gap-2 pb-2 lg:w-full md:w-full w-full">
                    {{'labels.nit' | translate }}
                    <div>{{ itemRegister().proveedor.nit }}</div>
                </div>
                <div class="justify-content-left align-items-center gap-2 pb-2 lg:w-full md:w-full w-full">
                    <b>{{'labels.fechaCompra' | translate}}</b>
                    <div>{{ itemRegister().fechaCompra | date: 'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="flex md:flex-row flex-row w-full pt-2">
                <div class="justify-content-left align-items-center gap-2 pb-2 lg:w-full md:w-full w-full">
                    <b>{{'labels.addres' | translate }}</b>
                    <div>{{ itemRegister().proveedor.direccionEmpresa }}</div>
                </div>
            </div>
        </div>
    </div>


    <!-- <h4>Detalles</h4> -->
    <p-table [value]="detailView()" [tableStyle]="{ 'width': '100%' }" [styleClass]="'p-datatable-sm w-full pt-2'">
        <ng-template #caption>
            <div class="from-stone-400">{{'labels.details' | translate | capitalize}}</div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="text-align: right;">No</th>
                <th>Producto</th>
                <th style="text-align: right;">Cantidad</th>
                <th style="text-align: right;">Precio Unitario</th>
                <th style="text-align: right;">Total Producto</th>
            </tr>
        </ng-template>
        <ng-template #body let-customer let-i="rowIndex">
            <tr>
                <td style="text-align: right;">{{i + 1}}</td>
                <td>{{ customer.producto.nombre }}</td>
                <td style="text-align: right;">{{ customer.cantidad }}</td>
                <td style="text-align: right;">{{ customer.precioUnitario }}</td>
                <td style="text-align: right;">{{ customer.compra.total }}</td>
            </tr>
            @if (i+1 === detailView().length) {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th style="text-align: right; font-weight: 800;">
                        <label class="w-25rem">{{'labels.precio_total' | translate }}</label>
                    </th>
                    <td style="text-align: right; font-weight: 700;">{{ itemRegister().total }}</td>
                </tr>
            }
        </ng-template>
    </p-table>
    <ng-template #footer>
        <div class="flex gap-3 mt-1">
            <!-- <p-button label="Cancel" severity="danger" class="w-full" styleClass="w-full" [routerLink]="['/inventory/products']" />
            <p-button label="Limpiar" severity="secondary" class="w-full" styleClass="w-full" (click)="cleanAll()" />
            <p-button label="Save" class="w-full" styleClass="w-full" (click)="submitPurchase()" [disabled]="!purchaseForm.valid" /> -->
        </div>
    </ng-template>

</p-card>